.text-primary {
  color: $secondary !important;
}

.text-secondary {
  color: $dark-grey !important;
}

.text-purple {
  color: $primary;
}

.text-green {
  color: $darker-green;
}

.text-red {
  color: red;
}

.light-p {
  border: 1px solid $rich-purple;
}

.bg-light {
  background-color: $light-grey !important;
}

.bg-green {
  background-color: lightgreen !important;
}

.bg-light-p {
  background-color: $light-purple !important;
}

.bg-red {
  background-color: $strong-red  !important;
}
