// Colors
$primary: #1E314D;  
$secondary: #273D66;  
$fade-blue-gray: #7D869C;  
$light-grey: #EFF2F5;  
$light-purple: #9A8BB5;  
$dark-grey: #4B5461;  
$mid-grey: #717C8E;  
$classic-white: #FFFFFF;  
$off-white: #F9FAFC;  
$rich-purple: #6B5D95;  
$darker-green: #008248;  
$strong-red: #D43F00;  
