// Colors
$primary: #1e314d;
$secondary: #273d66;
$fade-blue-gray: #7d869c;
$light-grey: #505e78;
$light-purple: #9a8bb5;
$dark-grey: #4b5461;
$mid-grey: #717c8e;
$classic-white: #ffffff;
$off-white: #f9fafc;
$rich-purple: #6b5d95;
$darker-green: #008248;
$strong-red: #d43f00;
$warning-orange: #ffa500;
$vibrant-yellow: #ffc107;
